/.DS_Store
/QuandlApp.xcworkspace/
/QuandlKit/QuandlKit.xcodeproj/project.xcworkspace/xcuserdata/
/QuandlKit/QuandlKit.xcodeproj/xcuserdata/
/QuandlKitTestHarness/QuandlKitTestHarness.xcodeproj/project.xcworkspace/xcuserdata/
/QuandlKitTestHarness/QuandlKitTestHarness.xcodeproj/xcuserdata/